body {
  font-family: "Telge Sans", Helvetica, Arial;
}

.navbar a {
  font-size: 20px;
  font-family: "Telge Sans", Helvetica, Arial;
}

/* Navbar title styling */
.bg-body-tertiary {
  background-color: #bbd197 !important;
}

.dropdown-menu a {
  font-size: 15px;
}

/* Header styling */
header {
  text-align: left;
  margin-left: 20vh;
  padding: 20px;
  font-family: "Telge Sans", Helvetica, Arial;
}

/* Alert box */
#driftBox {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 5px;
}

/* Footer styling */
.footer-text {
  color: #fff;
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: #222;
  font-size: x-large;
  margin: auto;
  padding: 10px;
  padding-left: 100px;
  font-family: "Telge Sans", Helvetica, Arial;
}

h3 {
  padding-top: 10px;
  font-family: "Telge Sans", Helvetica, Arial;
  font-size: x-large;
  text-align: left;
}

.flex-wrapper1 {
  display: flex;
  flex-wrap: wrap; /* Om du vill att de radbryts om det blir trångt */
  justify-content: center;
  gap: 50px; /* Avstånd mellan boxarna */
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.flex-item1 {
  background-color: #fafafa;
  border: 3px solid #e12a2a;
  border-radius: 40px;
  padding: 20px;
  font-family: "Telge Sans", Helvetica, Arial;
  transition: all 0.3s ease; /* Gör alla förändringar smidiga */
  opacity: 1;
  overflow: hidden;
}

/* När elementet är kollapsat */
.flex-item1.collapsed {
  opacity: 0;
  max-height: 0; /* Gör så att höjden minskar till 0 */
}

/* För att ge en snygg effekt på collapsebar */
.redcollapsebar {
  transition: transform 0.3s ease;
}

.flex-wrapper1 > div {
  background-color: #fffcfc;
  text-align: left;
  line-height: 2.0;
  font-size: small;
}

.lamp-container1 {
  display: flex;
  align-items: center; /* Detta justerar lampan och texten så att de är i linje */
}

.lamp1 {
  width: 15px; /* Justera storleken på lampan */
  height: 15px;
  background-color: red; /* Här kan du välja färg på lampan */
  box-shadow: 0 0 2px 2px rgb(255, 0, 0); /* Skugga för lampa-effekt */
  border-radius: 50%; /* Gör lampan rund */
  margin-right: 10px; /* Lägger till lite mellanrum mellan lampan och texten */
}

/* Status indicator styling */
.status-indicator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  margin-left: 10vh;
  font-size: medium;
}

.status-item1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 50px;
}

.status-item2 {
  display: flex;
  align-items: center;
  margin: 30px;
  margin-left: 150px;
}

.lamp {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.red-lamp {
  background-color: red;
  box-shadow: 0 0 2px 2px rgb(255, 0, 0);
}

.orange-lamp {
  background-color: #f8c621e3;
  box-shadow: 0 0 2px 2px #f8c621e3;
}

.editBtn {
  margin-left: 50px;
  font-size: 12px;
  height: 40px;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
  background-color: #bbd197;
  color: rgb(0, 0, 0);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(195, 98, 98, 0.222);
}

.editBtn:hover {
  box-shadow: 0 6px 10px rgba(55, 38, 38, 0.205);
}

.editBtn:active {
  transform: scale(0.98);
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: #bbd197;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: small;
  cursor: pointer;
  background-color: #bbd197;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: none;
  position: absolute;
  right: 20px; /* Ändra från left till right */
  margin-top: 20px;
}

.openbtn:hover {
  background-color: #dde8cb;
}

.navbar a, .navbar a.active {
  /* Länkar i navbaren */
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px;
  font-size: 20px;
  font-family: "Telge Sans", Helvetica, Arial;
}

.navbar a:hover, .navbar a.active:hover {
  /* När musen är över länken eller den är aktiv, ändra färg */
  color: #4f593b;
}

.navbar a::after, .navbar a.active::after {
  /* Skapa en linje under länken */
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  left: 50%;
  bottom: 0;
  background-color: black; 
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar a:hover::after, .navbar a.active:hover::after {
  /* När musen är över länken eller den är aktiv, ändra bredd och position */
  width: 100%;
  left: 0;
}

#redtoggleCollapse {
  padding: 4px 8px;
  background-color: white;
  border: none;
}
