.flex-wrapper2 {
  display: flex;
  flex-wrap: wrap; /* Om du vill att de radbryts om det blir trångt */
  justify-content: center;
  gap: 50px; /* Avstånd mellan boxarna */
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.flex-item2 {
  background-color: #fdfdfd;
  border: 3px solid #f8c621e3;
  border-radius: 40px;
  padding: 20px;
  font-family: "Telge Sans", Helvetica, Arial;
  transition: all 0.3s ease; /* Gör alla förändringar smidiga */
  opacity: 1;
  overflow: hidden;
  font-size: small;
}

.lamp-container2 {
  display: flex;
  align-items: center; /* Detta justerar lampan och texten så att de är i linje */
  font-size: small;
  font-family: "Telge Sans", Helvetica, Arial;
}

.lamp2 {
  width: 15px; /* Justera storleken på lampan */
  height: 15px;
  background-color: #f8c621e3; /* Här kan du välja färg på lampan */
  box-shadow: 0 0 2px 2px #f8c621e3; /* Skugga för lampa-effekt */
  border-radius: 50%; /* Gör lampan rund */
  margin-right: 10px; /* Lägger till lite mellanrum mellan lampan och texten */
}

.orangecollapsebar {
  transition: transform 0.3s ease;
}

#orangetoggleCollapse {
  padding: 4px 8px;
  background-color: white;
  border: none;
}