/* Navbar styling */
.navbar {
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  font-size: 16px;
}

/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header styling */
header {
  text-align: center;
  padding: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Alert box */
#driftBox {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  background-color: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 5px;
}

.footer-text {
  margin: auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
