#createUpcomingBtn {
  background-color: #11032a; /* Blå bakgrund */
  color: white; /* Vit text */
  border: none; /* Ta bort standardkanterna */
  border-radius: 5px; /* Rundade hörn */
  padding: 10px 10px; /* Lite inre marginal */
  font-size: 16px; /* Textstorlek */
  cursor: pointer; /* Gör att markören blir en pekare när man hovrar över */
  transition: background-color 0.3s ease; /* Smidig övergång vid hover */
  margin-left: 175vh;
  font-size: small;
}

#createUpcomingBtn:hover {
  background-color: #260b54; /* Mörkare blå när man hovrar */
}

.flex-container {
  background-color: #fdfdfd;
  border: 3px solid #370f7e;
}