body {
    overflow-x: hidden; /* Förhindra horisontell scroll */
}

.lamp-container3 {
  display: flex;
  align-items: center; /* Detta justerar lampan och texten så att de är i linje */
}

.lamp3 {
  width: 15px; /* Justera storleken på lampan */
  height: 15px;
  background-color: #33106e; /* Här kan du välja färg på lampan */
  box-shadow: 0 0 2px 2px #33106e; /* Skugga för lampa-effekt */
  border-radius: 50%; /* Gör lampan rund */
  margin-right: 10px; /* Lägger till lite mellanrum mellan lampan och texten */
}

.flex-container3 {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  border: 3px solid #33106e;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
  margin-bottom: 80px; /* Skapar utrymme så att den inte hamnar bakom footern */
  padding: 15px;
}

#createUpcomingBtn {
  background-color: #33106e; 
  color: white; 
  border: none; /* Ta bort standardkanterna */
  border-radius: 5px; /* Rundade hörn */
  padding: 10px 10px; /* Lite inre marginal */
  font-size: 16px; 
  cursor: pointer; /* Gör att markören blir en pekare när man hovrar över */
  transition: background-color 0.3s ease; /* Smidig övergång vid hover */
  font-size: small;
  margin-left: 180vh;
}

#createUpcomingBtn:hover {
  background-color: #260b54; /* Mörkare blå när man hovrar */
}

.flex-container {
  background-color: #fdfdfd;
  border: 3px solid #33106e;
}

#calendar {
  float: left;
  font-size: small;
  padding-left: 20px;
}